@import '../../styles/variables';

.section-contact {
    padding: 108px 120px 101px;
    position: relative;

    .container {
        width: 1180px;
        background-color: $primaryColor;
        padding: 80px 0 64px 80px;
        border-radius: 16px;
        background-image: url('../../assets/images/arrowInContactUs.svg');
        background-repeat: no-repeat;
        background-position: 770px 98px;

        .contact-details {
            width: 645px;
            color: $white;

            .contact-text {
                width: 510px;
                font-size: 17px;
                font-weight: 500;
                line-height: 160%;
                margin: 14px 0 40px;
            }
        }

        .arrow {
            position: absolute;
            top: 92px;
            right: 268px;
        }
    }

    .contact-img {
        width: 689px;
        height: 548px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}