@import '../../styles/variables';


.section-team {
    padding: 120px;
    display: flex;
    flex-direction: column;
    gap: 56px;

    .team-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .team-heading{
            width: 550px;
        }

        .team-subheading {
            width: 460px;
            color: $text-secondary;
            font-size: 17px;
            font-weight: 500;
            line-height: 160%;
        }
    }
    .team-members{
        display: flex;
        gap: 32px;
    }
}