@import '../../styles/variables';

.about-team-card {
    background-color: $white;
    padding: 20px;
    border-radius: 16px;
    height: 96px;
    display: flex;
    align-items: center;
    gap: 24px;
    box-shadow: 20px 40px 80px 0px rgba(45, 51, 81, 0.12);
    position: absolute;
    bottom: 79px;
    right: -52px;

    .about-details {
        display: flex;
        flex-direction: column;
        .number {
            font-family: 'Archivo', sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 150%;
        }

        .label {
            color: $text-secondary;
            font-size: 16px;
            font-weight: 500;
            line-height: 160%;
            min-width: max-content;
            word-spacing: .4px;
            letter-spacing: .39px;
            align-self: stretch;
        }
    }
}