$primaryColor: #A7F46A;
$backgroundSecondary: #F5F8FE;
$white: #fff;
$black: #101010;
$blackSecondary: #1D1E25;
$bgGreen: #EAFAE5;
$lightGreen: #E0FECD;
$softGreen: #B5E4CA;
$textGreen: #60D39C;
$textSecondary: #97BAFF;
$darkBlue: #1B1AFF;
$textBlue: #2A85FF;
$softGrey: #F2F4FC;
$textGrey: #808D9E;
$textGray: #757B8A;
$lightPurple: #F0F0FF;
$textPurple: #8AA5F6;
$textPurpleSmall: #8A89FF;
$lightOrange: #FFF1ED;
$footerLink:#D6D6D6;