@import '../../styles/variables';

.overview {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 16px;
    background-color: $white;
    position: absolute;
    top: 50%;
    transform: translate(28.5%, -46%);
    border-radius: 8px;
    box-shadow: 20px 40px 80px 0px rgba(45, 51, 81, 0.12);
}