@import '../../styles/variables';

.section-strategies {
    display: flex;
    flex-direction: column;
    padding: 113px 120px 0;
    gap: 96px;

    .heading-strategies {
        width: 758px;
    }

    .strategies {
        width: 1016px;
        align-self: end;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;

        .divider {
            grid-column: 1/-1;
            margin: 0 0 32px;

            &:not(:first-child) {
                margin-top: 60px;
            }
        }

        .strategy-text {
            font-size: 19px;
            font-weight: 400;
            line-height: 160%;
            justify-self: end;
        }

        .btn-strategy{
            grid-column: 2;
            margin: 82px 0 72px;
        }
    }
}